* {
    font-family: "Times New Roman";
  margin-left: 0px !important;
}
fieldset.scheduler-border {
  border: 2px groove #ffff !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}
.insert_car{
  background: #6A7987;
width: 100%;
}

legend.scheduler-border {
  border:none;
  width:140px;
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
}


/** slider */
/*.carousel-inner{*/
/*height: 68% ;*/
/*}*/

.carousel-item img{
  height: 456px;
}
/** offers */
.card-img-top{
  height: 217px;
}

/**
start style about us page  */

.image_separator {
  height:21vw;
  background-image: url("./img/about-05.jpg");
  background-position: center center;
  background-size: cover;
}
.link_slider a:hover{
  color: #27ae60;
}
.image_card{
  position: relative;
}
.read{
  position: relative;
  top: 45%;
  left: 44%;
  transform:  translate(-50% ,-50%) ;
  -webkit-transform:  translate(-50% ,-50%) ;
  -moz-transform:  translate(-50% ,-50%) ;
  -ms-transform:  translate(-50% ,-50%) ;
  -o-transform:  translate(-50% ,-50%) ;
  color: #000;
}
.overlay{
  width: 50%;
  height: 97%;
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 84px;
  right: 0;
  opacity: 0;
  background: rgba(247, 247, 247, 0.5);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}


@media (min-width: 992px) and  (max-width: 1366px){
  .title-img h4{
    font-size: 2vw !important;
  }
  .title-img h2 {
    font-size: 2.5vw !important;
  }
}

/** end style about us */


/*start style connect page*/
.input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #464646;
  outline: none;
  background: none;
}
.button_slider{
  margin-left: 59%;
}
.title-footer{
  width: 40%;
  height: 50px;
  padding: 1%;
  border:  1px solid #000;
}
.card_info:hover {
  background-color: #08b93d;
  color: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@media (max-width:606px){
  input , textarea{
    width: 85% !important;
  }
  .second_side{
    text-align: center;
  }
  .second_side w-25 {
    padding-left:15% !important;
  }
  .paragraph{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
  .title-footer{
    width: 99%;
    height: 26px;
    padding: 1%;
    font-size: 80% !important;
    border:  1px solid #000;
  }
  .title-footer p{
    font-size: 100% !important;

  }
}
/*end style connect page*/

